*{
	margin: 0;
}

.form:before{
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
	filter: blur(10px);
}
.form{
	padding: 2% 0 0 2%;
}

.zone {
	cursor: pointer;
	background-color: #FFFFFF;
    color: black;
    font-size: 2em;
    border: 0;
	transition: all 0.3s linear;
}

.main_nav{
    display: flex;
    list-style: none;
    font-size: 0.7em;
	margin: 0;
	padding: 10px;
}

.nav_button{
	padding: 19px 15px;
	border-radius: 10px;
}

a.active, a:hover{
	background-color: #B5A642;
	color: white;
	transition: .5s;
}

/*shrinks components when screen is < 600px*/
@media only screen and (max-width: 600px){
    .main_nav{
        font-size: 0.5em;
        padding: 0;
    }
}
.push{
    margin-left: auto;
}

li{
    padding: 20px;
}

a{
    color: black;
    text-decoration: none;
}

/* FORM */
form{
	padding: 5% 0 0 10%;
}
label{
	font-size: 30px;
}
input{
	height: 30px;
	font-size: 30px;
	margin: 10px;
	size: 23px;
}
/*
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
	filter: blur(10px);
	{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	font-family: verdana;
	overflow: visible;
}
.plantForm{
	position: absolute;
	background: #6E6E6DFF;
	height: 550px;
	width: 600px;
	top: 100px;
	left: 100px;
	border-radius: 10%;
}
.infoInput{
	position: absolute;
	top: 5%;
	left: 15%;
	font-size: 25px;
	color: #FAD0C9FF;
}
.inputBox{
	font-size: 30px;
	height: 50px;
	border-width: 1;
	border-radius: 10px;
	background-color: #6E6E6DFF;
	border-color: white;
	border-style: solid;
}*/