body{
    margin: auto 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAV */
.zone {
	cursor: pointer;
	background-color: #FFFFFF;
    color: black;
    font-size: 2em;
    border: 0;
	transition: all 0.3s linear;
}

.sticky{ /*sticks nav bar at the top on scoll*/
    position: fixed;
    top: 0;
    width: 100%;
}

.main_nav{
    display: flex;
    list-style: none;
    font-size: 0.7em;
	margin: 0;
	padding: 10px;
}

.nav_button{
	padding: 19px 15px;
	border-radius: 10px;
}

a.active, a:hover{
	background-color: #B5A642;
	color: white;
	transition: .5s;
}

/*shrinks components when screen is < 600px*/
@media only screen and (max-width: 700px){
	.main_nav{
        font-size: 0.4em;
		padding: 0;
		margin: 45px 0 0 0; 
	}
	.nav_button{
		padding: 5px 9px;
	}
	img{
		height: auto;
		width: auto;
	}
}

.push{
    margin-left: auto;
}

li{
    padding: 20px;
}

a{
    color: black;
    text-decoration: none;
}

/* COVER */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /*Vieport Height - adjusts height according to screen*/
}

.cover{
	width: 100%; /*em vs rem??*/
}

/* DIVIDER */
.divider{
	background-color: #FDB9AB;
	height: 70vh;
}

h1{
	text-align: center;
	padding: 15%;
	font-size: 100px;
	color: white;
}

/* GRID */
.grid_wrapper{
	margin-top: 2%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.box > img{
	width: 100%;
	height: 100%;
}

.box{
    background-color: #444;
    margin: 20px;
}

footer{
    text-align: center  ;
}

/* DESCRIPTION BOX */
p{
	text-align: center;
	padding: 20%;
	font-size: 20px;
}


/* ANIMATiON*/
.box:hover{ /*rotates to 7 deg on hover*/
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    transform: rotate(-7deg);
}

/* FOOTER */
.footer{
	background-color: #FDB9AB;
	padding: 3%;
}
/*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body{
	font-family: verdana;
	background: #FDB9AB;
	overflow: visible;
}
label.logo{
	color: #B5A642;
	font-size: 70px;
	line-height: 80px;
	padding: 0 40px;
	font-weight: bold;
}
nav{
	background: #FFFFFF;
	height: 80px;
	width: 100%;
}
nav ul{
	float: right;
	margin-right: 20px;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 10px;
}
nav ul li a{
	color: #B5A642;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
}
a.active, a:hover{
	background: #B5A642;
	color: white;
	transition: .5s;
}
.welcomeImage{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	height: 100%;
	float: none;
}
.header{
	position: relative;
}
.text-block{
	position: absolute;
	bottom: 450px;
	right: 130px;
	color: white;
	padding-left: 300px;
	padding-right: 500px;
}
.logo{
	font-size: 100px;
}
.webTitle{
	text-align: center;
	padding: 9%;
	font-size: 50px;
	color: #FFFFFF;
}
.webDescriptionBox{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	padding: 20% 20%;
}
.webDescriptionBoxGif{
	width: 100px;
	height: 100px;
	margin-right: auto;
	margin-left: auto;
	float: none;
	display: block;
}
p{
	text-align: center;
	font-size: 20px;
}*/